<h4 *ngIf="hasError"class="text-danger text-center">There was an error trying to reach API, try again later</h4>

<champs-spinner *ngIf="!tableLoaded"></champs-spinner>    

<div *ngIf="tableLoaded"> 
  <div class="row">
    <div class="col-md-3">
      <h1>Winners List</h1>
    </div>
    <div class="col-md-9 text-right">
      <div class="legend">
        <p>Won 2+ times in Season</p>
        <div class="info-square">&nbsp;</div>
      </div>
    </div>
  </div>
  <hr>
  
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Season</th>
        <th>Race Name</th>
        <th>Winner</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let race of racesList" [ngClass]="{'info' : checkVictories(race.Results[0].Driver.code)}">
        <th scope="row">{{race.season}}</th>
        <td>{{race.raceName}}</td>
        <td>{{race.Results[0].Driver.givenName}} {{race.Results[0].Driver.familyName}}</td>
      </tr>
    </tbody>
  </table>
</div>
