.info-square {
    height: 20px;
    background-color: #d9edf7;
    border: 1px solid #d2cdcd;
    width: 1.5em;
    float: right;
    margin-right: 10px;
}

.legend {
    margin-top: 2.5em;
}

.legend p {
    font-weight: bolder;
    color: darkslategrey;
    float: right;
}