<footer class="site-footer">
    <div id="copyright">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-right">&copy; {{year}} - <a href="https://www.linkedin.com/in/rhenriquea/" target="_blank">Proudly created by Rafael Almeida</a>.</p>
                </div>
            </div>
        </div>
    </div>        
</footer>
