.banner {
    height: 10em;
}

.banner-label {
    font-size: -webkit-xxx-large;
    color: black;
    text-shadow: 1px 1px 5px grey;
    margin-bottom: 1em;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }