<champs-header></champs-header>
<champs-year-selector></champs-year-selector>

<div class="container">
  <h4 *ngIf="hasError"class="text-danger text-center">There was an error trying to reach API, try again later</h4>
  
  <champs-spinner *ngIf="!tableLoaded || !chartLoaded"></champs-spinner>    
  
  <div class="col-md-8" *ngIf="tableLoaded">
    <h1>Season Summary</h1>    
    <hr>

    <table class="table" *ngIf="tableLoaded">
      <thead class="thead-inverse">
        <tr>
          <th>Driver</th>
          <th>Races Won</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let details of driversDetailsTable">
          <td>{{details.driver}}</td>
          <td>{{details.winning}}</td>
        </tr>
      </tbody>
    </table>
  
  </div>

  <div class="col-md-4">
  
    <div style="display: block" *ngIf="chartLoaded">
        <canvas baseChart 
                [data]="chartData" 
                [labels]="chartLabels" 
                [chartType]="chartType">
        </canvas>
      </div>  
      </div>
</div>
<champs-footer></champs-footer>