<div class="col-md-12 form-group text-center">
  <label for="select-year">Please Select a Year:</label><br />
  <select id="select-year" class="form-control select-year" (change)="onSelectYear($event.target.value)">
      <option *ngFor="let obj of yearsList" [value]="obj.year">
        {{obj.year}}
      </option>
  </select>
</div>