/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fff;
    background-image: url("/assets/checkered-flag-background.png");
    background-size: cover;
}

table {
    background-color: white;
    border: 1px solid #d2cdcd;
}

hr {
    margin-top: 0px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #d2cdcd;
}