<champs-header></champs-header>
<champs-year-selector></champs-year-selector>
<div class="container">
  <div class="col-md-12">
    <champs-winners-table></champs-winners-table>  
  </div>
</div>
<champs-footer></champs-footer>